<div class="container">
  <div class="row mt-4">

    <br>

    <div class="col-8 p-4" style="border-right: 1px solid;">
      <div class="row">
        <div class="col">
          <h1 class="titre">Jean-Bran - Votre Espace Perso
          </h1>
          <br>
        </div>
      </div>
      <div class="row">
        <div style="width: 100%" class="alert alert-success text-center" role="alert" *ngIf="creation">
          Votre nouveau salon a été créé. A present, ajouter les prestations qui seront proposées ;)
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createSalon">Creer un nouveau
            salon</button>
          <div class="modal fade" id="createSalon" tabindex="-1" role="dialog" aria-labelledby="connexionLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> </h5>
                </div>
                <div class="modal-body">

                  <h5 class="card-title text-center">Mon nouveau salon</h5>
                  <form #cSalon="ngForm">
                    <div class="form-group">
                      <label>Nom du salon</label>
                      <input type="text" #nomAction="ngModel" class="form-control" placeholder="Saisir le nom" required
                        [(ngModel)]="salon.nomSalon" name="nomSalon">
                    </div>
                    <div class="form-group">
                      <label>Date du salon</label>
                      <input type="date" #nomDate="ngModel" class="form-control" required [(ngModel)]="salon.dateSalon"
                        name="dateSalon">
                    </div>
                    <div class="form-group">
                      <label>Adresse postale</label>
                      <input type="text" #nomAdresse="ngModel" class="form-control" placeholder="Saisir l'adresse"
                        required [(ngModel)]="salon.adresse" name="adresse">
                    </div>
                    <div class="form-group">
                      <label>Numéro de telephone</label>
                      <input type="text" #nomTelephone="ngModel" class="form-control" placeholder="Saisir le numéro"
                        required [(ngModel)]="salon.telephone" name="telephone">
                    </div>
                    <div class="form-group">
                      <label>Adresse mail</label>
                      <input type="email" #nomContact="ngModel" class="form-control" placeholder="Saisir le mail"
                        required [(ngModel)]="salon.contact" name="contact">
                    </div>
                    <div>
                      <button (click)="createSalon()" [disabled]="!cSalon.form.valid" type="button"
                        class="btn btn-primary" data-dismiss="modal">Creer le
                        salon</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Retour au
                        menu</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-body">
            <h4 class="card-title text-center">Mes salons</h4>
            <table class="table d-flex justify-content-center">
              <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                <th>Prestation</th>
              </tr>
              <tr *ngFor="let s of dataSalons">
                <th>
                  <label class="form-check-label">{{s.nomSalon}}</label>
                </th>
                <th>
                  <label class="form-check-label d-flex justify-content-center">{{s.dateSalon}}</label>
                </th>
                <th>
                    <button type="button" class="btn btn-warning">Modifier</button>
                </th>
                <th>
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </th>
                <th>
                    <button type="button" class="btn btn-info">prestations</button>




                    
                </th>
              </tr>
            </table>
          </div>
          <br>
        </div>
      </div>
    </div>






    <div class="col-4 p-4">
      <div class="row" style="text-align: center;">
        <div class="col">
          <img
            src="https://static1.purebreak.com/articles/4/17/45/44/@/669571-game-of-thrones-saison-8-le-secret-du-diapo-1.jpeg"
            style="width:300px;">
        </div>
      </div>

      <br>
      <br>
      <div class="row">
        <div class="col">
          <h5 class="sstitre">Jean-Bran</h5>

        </div>
      </div>


      <div class="row">
        <div class="col">
          <h5 class="sstitre">2 Rue des Fougères</h5>
        </div>
      </div>
    </div>
  </div>
</div>