<!--1ere navbar : logo et connexion-->
<div class="mt-1 ml-3">
    <nav class="navbar navbar-light bg-light" style=" height: 50px; box-shadow: 0px 0px 0px;">
      <a class="navbar-brand ml-3" href="#">
        Beauty
      </a>
      <div class="d-flex">
        <img src="https://cdn.onlinewebfonts.com/svg/img_405324.png" style=" width: 30px; height: 30px;">
        <button type="button" class="btn lien ml-1">Se connecter / S'inscrire</button>
      </div>
    </nav>
  </div>
  
  <br>
  
  <!--2e navbar : reste tout au long du scroll-->
  <nav class="navbar sticky-top navbar-expand-lg navperso">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link boutonnav" href="#">Nos salons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" href="#">Nos prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" href="#">Voir la carte des salons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" href="#">A propos de nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 
  
  <!--<app-create-salon></app-create-salon>-->

<!--<app-liste-presta></app-liste-presta>-->

<app-liste-salons></app-liste-salons>
