<!--1ere navbar : logo et connexion-->
<div class="mt-1 ml-3">
  <nav class="navbar navbar-light bg-light" style=" height: 50px; box-shadow: 0px 0px 0px;">
    <a class="navbar-brand ml-3" href="#">Beauty</a>
    <div class="d-flex">
      
      <img src="https://cdn.onlinewebfonts.com/svg/img_405324.png" style=" width: 30px; height: 30px;">
      <div *ngIf="show">        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#connexion">Connexion</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inscription">Inscription</button>
      </div>
      <div *ngIf="!show">        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deconnexion">Déconnexion</button>
      </div>

    </div>
  </nav>
</div>


<div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="connexionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">  </h5>
      </div>
      <div class="modal-body">         
        <h5 class="card-title text-center">Déjà inscrit?</h5>
        <form>
          <div class="form-group">
            <label>Identifiant</label>
            <input type="email" #nomContact="ngModel" class="form-control" placeholder="Entrer votre e-mail" required
              [(ngModel)]="u.mail" name="mail">
          </div>
          <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" #nomAction="ngModel" class="form-control" placeholder="Entrer le mot de passe"
              required [(ngModel)]="u.mdp" name="mdp">
          </div>           
          <div>
            <button (click)="connexion()" class="btn btn-primary" data-dismiss="modal">Valider</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
            <p><br><br></p>
          </div>
        </form>
      </div>         
    </div>
  </div>
</div>

<div style="width: 100%" class="alert alert-danger text-center" role="alert" *ngIf="pass">
  Identifiant ou mot de passe incorrect
</div>

<div class="modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
      </div>
      <div class="modal-body">
        <form #validUser="ngForm">
          <h2 class="card-title text-left">Vous êtes...</h2>
          <div class="form-check">
            <input class="form-check-input" type="radio" #nomClient="ngModel" [(ngModel)]="user.access" name="access"
              value="1">
            <label class="form-check-label" for="exampleRadios1">Client </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" #nomEmp="ngModel" [(ngModel)]="user.access" name="access"
              value="2">
            <label class="form-check-label" for="exampleRadios2">Employé</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" #nomMan="ngModel" [(ngModel)]="user.access" name="access"
              value="3">
            <label class="form-check-label" for="exampleRadios2">Manager</label>
          </div>
          <div class="form-group">
            <label>Nom de l'utilisateur</label>
            <input type="text" #nomAction="ngModel" class="form-control" placeholder="Entrer le nom" required
              [(ngModel)]="user.nom" name="nom">
          </div>
          <div class="form-group">
            <label>Prénom de l'utilisateur</label>
            <input type="text" #nomAction="ngModel" class="form-control" placeholder="Entrer le prénom" required
              [(ngModel)]="user.prenom" name="prenom">
          </div>
          <div class="form-group">
            <label>Mail de contact</label>
            <input type="email" #nomContact="ngModel" class="form-control" placeholder="Entrer le mail" required
              [(ngModel)]="user.mail" name="mail">
            <small class="form-text text-muted">Votre mail ne sera pas utilisé à des fins commerciales</small>
          </div>
          <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" #nomAction="ngModel" class="form-control" placeholder="Entrer le mot de passe"
              required [(ngModel)]="user.mdp" name="mdp">
          </div>
          <div>
            <button (click)="createUser()" class="btn btn-primary" routerLink="/listesalons" routerLinkActive="active"
              [disabled]="!validUser.form.valid" data-dismiss="modal">Valider</button>
            <button type="button" class="btn btn-danger" routerLink="/listesalons"
              routerLinkActive="active" data-dismiss="modal">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deconnexion" tabindex="-1" role="dialog" aria-labelledby="connexionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">  </h5>
      </div>
      <div class="modal-body">              
        <h5 class="card-title text-center">Êtes-vous sûr de vous déconnecter ?</h5>
        <form>
          <div>
            <button (click)="deconnexion()" class="btn btn-primary" data-dismiss="modal">Valider</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
          </div>    
        </form>
      </div>         
    </div>
  </div>
</div>
 
<br>

  <!--2e navbar : reste tout au long du scroll-->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark navperso">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link boutonnav" routerLink="listesalons" routerLinkActive="active">Nos salons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" routerLink="listeprestations" routerLinkActive="active">Nos prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" routerLink="cartesalons" routerLinkActive="active">Voir la carte des salons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" href="#">A propos de nous</a>
          </li>
          <li class="nav-item" *ngIf="showClient">
            <a class="nav-link boutonnav" routerLink="espaceperso" routerLinkActive="active">Mon espace client</a>
          </li>
          <li class="nav-item" *ngIf="showManager">
            <a class="nav-link boutonnav" routerLink="espacemanager" routerLinkActive="active">Mon espace Manager</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>



<!--Footer-->
<div class="footer mt-5">

    <!-- gros container pour tous les liens -->
    <div class="container-fluid text-center text-md-left  pt-4">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">

          <!--Petit texte de footer-->
          <h5 class="text-uppercase">Site de beauty</h5>
          <p>Ce site n'est pas vraiment un site de réservation de salons de beauté. Désolés. On aura essayé.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">

            <!--Quelques liens-->
            <h5 class="text-uppercase">Quelques liens</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="boutonnav">Link 1</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 2</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 3</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 4</a>
              </li>
            </ul>

          </div>
        
          <div class="col-md-3 mb-md-0 mb-3">

            <!--Quelques liens-->
            <h5 class="text-uppercase">Pour faire genre</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="boutonnav">Link 1</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 2</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 3</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 4</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    
   

    <!--copyright pour faire genre-->
    <div class="footer-cp text-center py-3">© 2018 Copyright:
      <a href="#"> Solutec *DAB*</a>
    </div>
   

  </div>
