<!--1ere navbar : logo et connexion-->
<div class="mt-1 ml-3">
    <nav class="navbar navbar-light bg-light" style=" height: 50px; box-shadow: 0px 0px 0px;">
      <a class="navbar-brand ml-3" href="#">
        Beauty
      </a>
      <div class="d-flex">
        <img src="https://cdn.onlinewebfonts.com/svg/img_405324.png" style=" width: 30px; height: 30px;">
        <button type="button" class="btn lien ml-1" routerLink="/createUser" routerLinkActive="active">Se connecter / S'inscrire</button>
      </div>
    </nav>
  </div>
  
  <br>
  <a class="nav-link" routerLink="createsalon" routerLinkActive="active">BOUTON TEST CREER SALON EN ATTENDANT LA CONNEXION</a>
  <a class="nav-link" routerLink="espaceperso" routerLinkActive="active">BOUTON TEST ESPACE CLIENT</a>
  <a class="nav-link" routerLink="espacemanager" routerLinkActive="active">BOUTON TEST ESPACE MANAGER</a>
  <!--2e navbar : reste tout au long du scroll-->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark navperso">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link boutonnav" routerLink="listesalons" routerLinkActive="active">Nos salons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" routerLink="listeprestations" routerLinkActive="active">Nos prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" routerLink="cartesalons" routerLinkActive="active">Voir la carte des salons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutonnav" href="#">A propos de nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>



<!--Footer-->
<div class="footer mt-5">

    <!-- gros container pour tous les liens -->
    <div class="container-fluid text-center text-md-left  pt-4">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">

          <!--Petit texte de footer-->
          <h5 class="text-uppercase">Site de beauty</h5>
          <p>Ce site n'est pas vraiment un site de réservation de salons de beauté. Désolés. On aura essayé.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">

            <!--Quelques liens-->
            <h5 class="text-uppercase">Quelques liens</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="boutonnav">Link 1</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 2</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 3</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 4</a>
              </li>
            </ul>

          </div>
        
          <div class="col-md-3 mb-md-0 mb-3">

            <!--Quelques liens-->
            <h5 class="text-uppercase">Pour faire genre</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="boutonnav">Link 1</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 2</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 3</a>
              </li>
              <li>
                <a href="#!" class="boutonnav">Link 4</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    
   

    <!--copyright pour faire genre-->
    <div class="footer-cp text-center py-3">© 2018 Copyright:
      <a href="#"> Solutec *DAB*</a>
    </div>
   

  </div>
