<div class="container">
  <div class="row mt-4">

    <br>

    <div class="col-8 p-4" style="border-right: 1px solid;">
      <div class="row">
        <div class="col">
          <h1 class="titre">Bonjour, {{ prenom }} - Votre Espace Perso</h1><br>
        </div>
      </div>
      <div class="row">
        <div *ngIf="modif" div style="width: 100%" class="alert alert-success text-center" role="alert">
          Compte modifié
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- <div class="card">-->
          <h1>Mes réservations</h1>
          <br>

          <div *ngFor="let r of resa">
            <div class="card p-1">
              <div class="row ml-4">
                <div class="col-6">
                  <div class="row justify-content">
                    <!-- <h2 class="titresalon">{{getSalon(r.idsalon)}} {{salon.nomSalon}}</h2>-->
                  </div>
                  <div class="row justify-content">
                    <!--<h2 class="titrepresta">{{getTitre(r.idpresta)}} {{presta.titre}}</h2>-->
                  </div>
                  <div class="row">
                    <img src="https://image.flaticon.com/icons/svg/747/747310.svg" style="height: 20px; width: 20px;"><span
                    class="ml-2 infosalon">Date : {{r.hstart.dayOfMonth}} {{r.hstart.month}} {{r.hstart.year}} </span><br>
                  </div>
                  <div class="row mt-2">
                      <img src="https://image.flaticon.com/icons/svg/61/61227.svg" style="height: 20px; width: 20px;"><span
                    class="ml-2 infosalon">Heure : {{r.hstart.hour}}h{{r.hstart.minute}}</span><br>
                  </div>
                  <div class="row mt-2">
                      <img src="https://image.flaticon.com/icons/svg/149/149778.svg" style="height: 20px; width: 20px;"><span
                    class="ml-2 infosalon">Durée : {{r.dureepresta}} min</span>
                  </div>

                </div>
                <div class="col-3">
                  <div class="row justify-content-end">
                    <button class="btn btn-primary"> modifier </button>
                  </div>
                  <div class="row justify-content-end">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#annulReserv" (click)="recupId(r.id)"> annuler </button>
                  </div>

                </div>
              </div>
            </div>

            <br>
            <div class="modal fade" id="annulReserv" tabindex="-1" role="dialog"
            aria-labelledby="connexionLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> </h5>
                </div>
                <div class="modal-body">

                  <h6 class="card-title text-center">Êtes-vous sûr de vouloir annuler votre réservation ?</h6>
                  <form>
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-primary" data-dismiss="modal"
                        (click)="annulReserv(idreserv)">Valider</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
          <!-- </div> -->
          <br>
        </div>
      </div>

    </div>



    <div class="col-4 p-4">
      <div class="row" style="text-align: center;">
        <div class="col">
          <img src="{{photo}}" style="width:300px;">
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col">
          <h5 class="sstitre">{{prenom}} {{nom}}</h5>
          <p class="sstitre">{{mail}}</p>
        </div>
      </div>
      <div class="row">
        <div>
          <mat-button-toggle-group>
            <mat-button-toggle data-toggle="modal" data-target="#modifCompte" (click)="recupProfil(id)">Modifier mon compte
            </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modifCompte" tabindex="-1" role="dialog" aria-labelledby="connexionLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> </h5>
          </div>
          <div class="modal-body">
            <h5 class="card-title text-center">Mon compte</h5>
            <form>
              <div class="form-group">
                <label>Nom</label>
                <input type="text" #nomAction="ngModel" class="form-control" required [(ngModel)]="profil.nom"
                  name="nom">
              </div>
              <div class="form-group">
                <label>Prenom</label>
                <input type="text" #nomPerso="ngModel" class="form-control" required [(ngModel)]="profil.prenom"
                  name="prenom">
              </div>
              <div class="form-group">
                <label>Mail</label>
                <input type="mail" #nomDate="ngModel" class="form-control" required [(ngModel)]="profil.mail"
                  name="mail">
              </div>
              <div class="form-group">
                <label>Mot de passe</label>
                <input type="text" #nomMdp="ngModel" class="form-control" required [(ngModel)]="profil.mdp"
                  name="mdp">
              </div>
              <div class="form-group">
                  <label>Modifier ma photo (URL)</label>
                  <input type="text" #nomPhoto="ngModel" class="form-control" required [(ngModel)]="profil.photo"
                    name="photo">
                </div>
              <div>
                <button (click)="modifProfile(profil.id)" class="btn btn-primary" data-dismiss="modal">Modifier mon
                  compte</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour au
                  menu</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>