<div class="container">
  <div class="row mt-4">

    <br>

    <div class="col-8 p-4" style="border-right: 1px solid;">
      <div class="row">
        <div class="col">
          <h1 class="titre">Bonjour, {{ res.nom }} - Votre Espace Perso</h1>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            Mes réservations
          </div>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            Historique de mes soins
          </div>
          <br>
        </div>
      </div>
    </div>



    <div class="col-4 p-4">
      <div class="row" style="text-align: center;">
        <div class="col">
          <img
            src="https://www.foot01.com/img/images/650x600/2019/Apr/17/psg-les-2-conditions-indispensables-au-retour-de-neymar-avec-paris-icon_dib_190119_12_06,250727.jpg"
            style="width:300px;">
        </div>
      </div>

      <br>
      <br>
      <div class="row">
        <div class="col">
          <h5 class="sstitre">Jean-Michel</h5>

        </div>
      </div>

      
      <div class="row">
        <div class="col">
            <h5 class="sstitre">2 Rue des Fougères</h5>
        </div>
      </div>
    </div>
  </div>
</div>
