@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body
{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222725;
    
}

.navperso
{
    width: 100%;
    height: 60px;
   
    background-color: #7b4b94;
}
.container  
 {
    font-family:  'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }


 .boutonnav
 {
    color:#eaeaea;
 }

 a.boutonnav:hover
 {
     color:#afa4e6;
 }
 .titre
 {
     font-weight: bold;
     color: #7b4b94;
 }

 .sstitre
 {
     font-weight: lighter;
     color: #222725;
 }

 .nomsalon
 {
    font-weight: bold;
    color: #313d5a;
 }

 .infosalon
 {
    font-weight: lighter;
    color: #222725;
 }

 .infosalon_pagesalon
 {
    font-weight: lighter;
    color: #222725;
    font-size: 120%;
 }
 .infosalontext
 {
    font-weight: lighter;
    font-size: 1.2em;
    color: #313d5a;
 }
 
 .note
 {
    font-weight: bold;
    color: #313d5a;
    text-decoration: underline;
 }

 .lien
 {
     color: #183642;
 }

 .footer
 {
     background-color: #7d82b8;
     color: #eaeaea;
 }

 .footer-cp
 {
     background-color: #3f426b;
 }

 .titrepresta
 {
    font-weight: lighter;
 }

 #carte
 {
    cursor: pointer;
 }

 #carte:hover
 {
     box-shadow: 0.5px 1.5px 4px  #583769;
 }

 .boutonsjour
 {
    cursor: pointer;
 }

 .boutonsjour:hover
 {
     box-shadow: 0.5px 1.5px 4px  #583769;
 }

 .elemListePresta
 {
     text-transform: uppercase;
     font-size: 90%;
 }

 .reservationconfirm
 {
     font-weight: bold;
     color: #313d5a;

 }